# Kevin's Pandas' Crib Sheet

## Intro

Whays to get help:

| Command           | Function |
|---------------    |----------|
| Auto complete     | To get options |
| Hover             |     To get docstring |
| dir('func')       | Shows all method and function calls |
| help('func')      | See documentation |
| ?                 | Access documentation |
| ??                | Access source code |
| %lsmagic          | List available magic commands |
| %quickref         | Magic quick refernce sheet |

Good guide [here](https://problemsolvingwithpython.com/02-Jupyter-Notebooks/02.07-Getting-Help-in-a-Jupyter-Notebook/)

Good tips, but focused on Jupyter Notebook in browser [here](https://towardsdatascience.com/15-tips-and-tricks-for-jupyter-notebook-that-will-ease-your-coding-experience-e469207ac95c)

This is a consolidation notes and examples from:
> Coreys MSchafer's Pandas videos [here](https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS) 

and 
> Hands on Data Analysis by Stefanie Molin
All data in examples and exercises available [here](https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition)

Version 2.1W

## 0. Set-Up

### 0.1 Initial Imports

In [46]:
import pandas as pd
import numpy as np
import datetime as dt
import pprint

### 0.2 Main Dataset Constructors

In [47]:
#  Functions that create Example Datasets for use later 

def mk_dictionary(x):
    if x == "people":
        dictionary = {
            'first': ['Corey', 'Jane', 'Janey', 'John', 'Jimmy'], 
            'last': ['Schafer', 'Doe', 'Doe', 'Doe', 'Doe'], 
            'email': ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JaneyDoe@email.com','JohnDoe@email.com', 'JimmyDoe@email.com']
        }
    elif x == 'people2':
        dictionary = {
            'first': ['Tony', 'Steve'], 
            'last': ['Stark', 'Rogers'], 
            'email': ['IronMan@avenge.com', 'Cap@avenge.com']
        }
    # Set-up some dirty data  
    elif x == 'dirty':
        dictionary = {
    'first': ['Corey', 'Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com','CoreyCORRUPTSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '333', '55', '63', '36', None, None, 'Missing']
    }
    elif x == 'weather':
        dictionary = big_dictionary('weather')
    elif x == 'stations':
        dictionary = {
            'id': {0: 'GHCND:US1CTFR0022', 4: 'GHCND:US1NJBG0003', 278: 'GHCND:USW00094789'},
            'name': {0: 'STAMFORD 2.6 SSW, CT US', 4: 'TENAFLY 1.3 W, NJ US', 278: 'JFK INTERNATIONAL AIRPORT, NY US'},
            'latitude': {0: 41.0641, 4: 40.91467, 278: 40.63915},
            'longitude': {0: -73.577, 4: -73.9775, 278: -73.76401},
            'elevation': {0: 36.6, 4: 21.6, 278: 3.4}
        }
    else:
        print(f'!!!!! mk_dictionary called wih invalid parameter !!!!')
        raise SystemExit
    return dictionary 

def mk_dataframe(x):
    df =  pd.DataFrame(mk_dictionary(x))
    return df


# people  = mk_dictionary('people')
# people2 = mk_dictionary('people2')


# df = mk_dataframe('stations')
# df = mk_dataframe('people')
# df2 = mk_dataframe('people2')
# dirty_df = mk_dataframe('dirty')
# df

### 0.3 Weather Data

#### 0.3.1 DONT OPEN Very Long

In [48]:
# Stuff in here?
def big_dictionary(x):
    if x == 'weather':
        return {    
  'date': {58914: '2018-10-01',
  59144: '2018-10-01',
  59145: '2018-10-01',
  59155: '2018-10-02',
  59372: '2018-10-02',
  59373: '2018-10-02',
  59580: '2018-10-03',
  59581: '2018-10-03',
  59592: '2018-10-04',
  59802: '2018-10-04',
  59803: '2018-10-04',
  59996: '2018-10-05',
  59997: '2018-10-05',
  60007: '2018-10-06',
  60206: '2018-10-06',
  60207: '2018-10-06',
  60405: '2018-10-07',
  60406: '2018-10-07',
  60416: '2018-10-08',
  60605: '2018-10-08',
  60606: '2018-10-08',
  60808: '2018-10-09',
  60809: '2018-10-09',
  60819: '2018-10-10',
  61011: '2018-10-10',
  61012: '2018-10-10',
  61024: '2018-10-11',
  61238: '2018-10-11',
  61239: '2018-10-11',
  61451: '2018-10-12',
  61452: '2018-10-12',
  61632: '2018-10-13',
  61633: '2018-10-13',
  61822: '2018-10-14',
  61823: '2018-10-14',
  62022: '2018-10-15',
  62023: '2018-10-15',
  62214: '2018-10-16',
  62215: '2018-10-16',
  62226: '2018-10-17',
  62423: '2018-10-17',
  62424: '2018-10-17',
  62434: '2018-10-18',
  62626: '2018-10-18',
  62627: '2018-10-18',
  62637: '2018-10-19',
  62848: '2018-10-19',
  62849: '2018-10-19',
  63031: '2018-10-20',
  63032: '2018-10-20',
  63221: '2018-10-21',
  63222: '2018-10-21',
  63233: '2018-10-22',
  63440: '2018-10-22',
  63441: '2018-10-22',
  63451: '2018-10-23',
  63665: '2018-10-23',
  63666: '2018-10-23',
  63676: '2018-10-24',
  63871: '2018-10-24',
  63872: '2018-10-24',
  63882: '2018-10-25',
  64092: '2018-10-25',
  64093: '2018-10-25',
  64103: '2018-10-26',
  64319: '2018-10-26',
  64320: '2018-10-26',
  64514: '2018-10-27',
  64515: '2018-10-27',
  64715: '2018-10-28',
  64716: '2018-10-28',
  64923: '2018-10-29',
  64924: '2018-10-29',
  64934: '2018-10-30',
  65128: '2018-10-30',
  65129: '2018-10-30',
  65139: '2018-10-31',
  65350: '2018-10-31',
  65351: '2018-10-31'},
 'datatype': {58914: 'SNOW',
  59144: 'SNOW',
  59145: 'SNWD',
  59155: 'SNOW',
  59372: 'SNOW',
  59373: 'SNWD',
  59580: 'SNOW',
  59581: 'SNWD',
  59592: 'SNOW',
  59802: 'SNOW',
  59803: 'SNWD',
  59996: 'SNOW',
  59997: 'SNWD',
  60007: 'SNOW',
  60206: 'SNOW',
  60207: 'SNWD',
  60405: 'SNOW',
  60406: 'SNWD',
  60416: 'SNOW',
  60605: 'SNOW',
  60606: 'SNWD',
  60808: 'SNOW',
  60809: 'SNWD',
  60819: 'SNOW',
  61011: 'SNOW',
  61012: 'SNWD',
  61024: 'SNOW',
  61238: 'SNOW',
  61239: 'SNWD',
  61451: 'SNOW',
  61452: 'SNWD',
  61632: 'SNOW',
  61633: 'SNWD',
  61822: 'SNOW',
  61823: 'SNWD',
  62022: 'SNOW',
  62023: 'SNWD',
  62214: 'SNOW',
  62215: 'SNWD',
  62226: 'SNOW',
  62423: 'SNOW',
  62424: 'SNWD',
  62434: 'SNOW',
  62626: 'SNOW',
  62627: 'SNWD',
  62637: 'SNOW',
  62848: 'SNOW',
  62849: 'SNWD',
  63031: 'SNOW',
  63032: 'SNWD',
  63221: 'SNOW',
  63222: 'SNWD',
  63233: 'SNOW',
  63440: 'SNOW',
  63441: 'SNWD',
  63451: 'SNOW',
  63665: 'SNOW',
  63666: 'SNWD',
  63676: 'SNOW',
  63871: 'SNOW',
  63872: 'SNWD',
  63882: 'SNOW',
  64092: 'SNOW',
  64093: 'SNWD',
  64103: 'SNOW',
  64319: 'SNOW',
  64320: 'SNWD',
  64514: 'SNOW',
  64515: 'SNWD',
  64715: 'SNOW',
  64716: 'SNWD',
  64923: 'SNOW',
  64924: 'SNWD',
  64934: 'SNOW',
  65128: 'SNOW',
  65129: 'SNWD',
  65139: 'SNOW',
  65350: 'SNOW',
  65351: 'SNWD'},
 'station': {58914: 'GHCND:US1NJBG0003',
  59144: 'GHCND:USW00094789',
  59145: 'GHCND:USW00094789',
  59155: 'GHCND:US1NJBG0003',
  59372: 'GHCND:USW00094789',
  59373: 'GHCND:USW00094789',
  59580: 'GHCND:USW00094789',
  59581: 'GHCND:USW00094789',
  59592: 'GHCND:US1NJBG0003',
  59802: 'GHCND:USW00094789',
  59803: 'GHCND:USW00094789',
  59996: 'GHCND:USW00094789',
  59997: 'GHCND:USW00094789',
  60007: 'GHCND:US1NJBG0003',
  60206: 'GHCND:USW00094789',
  60207: 'GHCND:USW00094789',
  60405: 'GHCND:USW00094789',
  60406: 'GHCND:USW00094789',
  60416: 'GHCND:US1NJBG0003',
  60605: 'GHCND:USW00094789',
  60606: 'GHCND:USW00094789',
  60808: 'GHCND:USW00094789',
  60809: 'GHCND:USW00094789',
  60819: 'GHCND:US1NJBG0003',
  61011: 'GHCND:USW00094789',
  61012: 'GHCND:USW00094789',
  61024: 'GHCND:US1NJBG0003',
  61238: 'GHCND:USW00094789',
  61239: 'GHCND:USW00094789',
  61451: 'GHCND:USW00094789',
  61452: 'GHCND:USW00094789',
  61632: 'GHCND:USW00094789',
  61633: 'GHCND:USW00094789',
  61822: 'GHCND:USW00094789',
  61823: 'GHCND:USW00094789',
  62022: 'GHCND:USW00094789',
  62023: 'GHCND:USW00094789',
  62214: 'GHCND:USW00094789',
  62215: 'GHCND:USW00094789',
  62226: 'GHCND:US1NJBG0003',
  62423: 'GHCND:USW00094789',
  62424: 'GHCND:USW00094789',
  62434: 'GHCND:US1NJBG0003',
  62626: 'GHCND:USW00094789',
  62627: 'GHCND:USW00094789',
  62637: 'GHCND:US1NJBG0003',
  62848: 'GHCND:USW00094789',
  62849: 'GHCND:USW00094789',
  63031: 'GHCND:USW00094789',
  63032: 'GHCND:USW00094789',
  63221: 'GHCND:USW00094789',
  63222: 'GHCND:USW00094789',
  63233: 'GHCND:US1NJBG0003',
  63440: 'GHCND:USW00094789',
  63441: 'GHCND:USW00094789',
  63451: 'GHCND:US1NJBG0003',
  63665: 'GHCND:USW00094789',
  63666: 'GHCND:USW00094789',
  63676: 'GHCND:US1NJBG0003',
  63871: 'GHCND:USW00094789',
  63872: 'GHCND:USW00094789',
  63882: 'GHCND:US1NJBG0003',
  64092: 'GHCND:USW00094789',
  64093: 'GHCND:USW00094789',
  64103: 'GHCND:US1NJBG0003',
  64319: 'GHCND:USW00094789',
  64320: 'GHCND:USW00094789',
  64514: 'GHCND:USW00094789',
  64515: 'GHCND:USW00094789',
  64715: 'GHCND:USW00094789',
  64716: 'GHCND:USW00094789',
  64923: 'GHCND:USW00094789',
  64924: 'GHCND:USW00094789',
  64934: 'GHCND:US1NJBG0003',
  65128: 'GHCND:USW00094789',
  65129: 'GHCND:USW00094789',
  65139: 'GHCND:US1NJBG0003',
  65350: 'GHCND:USW00094789',
  65351: 'GHCND:USW00094789'},
 'attributes': {58914: ',,N,',
  59144: ',,W,',
  59145: ',,W,2400',
  59155: ',,N,',
  59372: ',,W,',
  59373: ',,W,2400',
  59580: ',,W,',
  59581: ',,W,2400',
  59592: ',,N,',
  59802: ',,W,',
  59803: ',,W,2400',
  59996: ',,W,',
  59997: ',,W,2400',
  60007: ',,N,',
  60206: ',,W,',
  60207: ',,W,2400',
  60405: ',,W,',
  60406: ',,W,2400',
  60416: ',,N,',
  60605: ',,W,',
  60606: ',,W,2400',
  60808: ',,W,',
  60809: ',,W,2400',
  60819: ',,N,',
  61011: ',,W,',
  61012: ',,W,2400',
  61024: ',,N,',
  61238: ',,W,',
  61239: ',,W,2400',
  61451: ',,W,',
  61452: ',,W,2400',
  61632: ',,W,',
  61633: ',,W,2400',
  61822: ',,W,',
  61823: ',,W,2400',
  62022: ',,W,',
  62023: ',,W,2400',
  62214: ',,W,',
  62215: ',,W,2400',
  62226: ',,N,',
  62423: ',,W,',
  62424: ',,W,2400',
  62434: ',,N,',
  62626: ',,W,',
  62627: ',,W,2400',
  62637: ',,N,',
  62848: ',,W,',
  62849: ',,W,2400',
  63031: ',,W,',
  63032: ',,W,2400',
  63221: ',,W,',
  63222: ',,W,2400',
  63233: ',,N,',
  63440: ',,W,',
  63441: ',,W,2400',
  63451: ',,N,',
  63665: ',,W,',
  63666: ',,W,2400',
  63676: ',,N,',
  63871: ',,W,',
  63872: ',,W,2400',
  63882: ',,N,',
  64092: ',,W,',
  64093: ',,W,2400',
  64103: ',,N,',
  64319: ',,W,',
  64320: ',,W,2400',
  64514: ',,W,',
  64515: ',,W,2400',
  64715: ',,W,',
  64716: ',,W,2400',
  64923: ',,W,',
  64924: ',,W,2400',
  64934: ',,N,',
  65128: ',,W,',
  65129: ',,W,2400',
  65139: ',,N,',
  65350: ',,W,',
  65351: ',,W,2400'},
 'value': {58914: 0.0,
  59144: 0.0,
  59145: 0.0,
  59155: 0.0,
  59372: 0.0,
  59373: 0.0,
  59580: 0.0,
  59581: 0.0,
  59592: 0.0,
  59802: 0.0,
  59803: 0.0,
  59996: 0.0,
  59997: 0.0,
  60007: 0.0,
  60206: 0.0,
  60207: 0.0,
  60405: 0.0,
  60406: 0.0,
  60416: 0.0,
  60605: 0.0,
  60606: 0.0,
  60808: 0.0,
  60809: 0.0,
  60819: 0.0,
  61011: 0.0,
  61012: 0.0,
  61024: 0.0,
  61238: 0.0,
  61239: 0.0,
  61451: 0.0,
  61452: 0.0,
  61632: 0.0,
  61633: 0.0,
  61822: 0.0,
  61823: 0.0,
  62022: 0.0,
  62023: 0.0,
  62214: 0.0,
  62215: 0.0,
  62226: 0.0,
  62423: 0.0,
  62424: 0.0,
  62434: 0.0,
  62626: 0.0,
  62627: 0.0,
  62637: 0.0,
  62848: 0.0,
  62849: 0.0,
  63031: 0.0,
  63032: 0.0,
  63221: 0.0,
  63222: 0.0,
  63233: 0.0,
  63440: 0.0,
  63441: 0.0,
  63451: 0.0,
  63665: 0.0,
  63666: 0.0,
  63676: 0.0,
  63871: 0.0,
  63872: 0.0,
  63882: 0.0,
  64092: 0.0,
  64093: 0.0,
  64103: 0.0,
  64319: 0.0,
  64320: 0.0,
  64514: 0.0,
  64515: 0.0,
  64715: 0.0,
  64716: 0.0,
  64923: 0.0,
  64924: 0.0,
  64934: 0.0,
  65128: 0.0,
  65129: 0.0,
  65139: 0.0,
  65350: 0.0,
  65351: 0.0}
 }
                
df = mk_dataframe('weather')
df

             date datatype            station attributes  value
58914  2018-10-01     SNOW  GHCND:US1NJBG0003       ,,N,    0.0
59144  2018-10-01     SNOW  GHCND:USW00094789       ,,W,    0.0
59145  2018-10-01     SNWD  GHCND:USW00094789   ,,W,2400    0.0
59155  2018-10-02     SNOW  GHCND:US1NJBG0003       ,,N,    0.0
59372  2018-10-02     SNOW  GHCND:USW00094789       ,,W,    0.0
...           ...      ...                ...        ...    ...
65128  2018-10-30     SNOW  GHCND:USW00094789       ,,W,    0.0
65129  2018-10-30     SNWD  GHCND:USW00094789   ,,W,2400    0.0
65139  2018-10-31     SNOW  GHCND:US1NJBG0003       ,,N,    0.0
65350  2018-10-31     SNOW  GHCND:USW00094789       ,,W,    0.0
65351  2018-10-31     SNWD  GHCND:USW00094789   ,,W,2400    0.0

[79 rows x 5 columns]

### 0.4 DateTime Example

In [49]:
def mk_datetime_dataframe():
  datetime_df = pd.DataFrame(
    {'Date': {0: ('2020-03-13 20:00:00'),
      1: ('2020-03-13 19:00:00'),
      2: ('2020-03-13 18:00:00'),
      3: ('2020-03-13 17:00:00'),
      4: ('2020-03-13 16:00:00'),
      5: ('2020-03-13 15:00:00')},
    'Symbol': {0: 'ETHUSD',
      1: 'ETHUSD',
      2: 'ETHUSD',
      3: 'ETHUSD',
      4: 'ETHUSD',
      5: 'ETHUSD'},
    'Open': {0: 129.94, 1: 119.51, 2: 124.47, 3: 124.08, 4: 124.85, 5: 128.39},
    'High': {0: 131.82, 1: 132.02, 2: 124.85, 3: 127.42, 4: 129.51, 5: 128.9},
    'Low': {0: 126.87, 1: 117.1, 2: 115.5, 3: 121.63, 4: 120.17, 5: 116.06},
    'Close': {0: 128.71, 1: 129.94, 2: 119.51, 3: 124.47, 4: 124.08, 5: 124.85},
    'Volume': {0: 1940673.93,
      1: 7579741.09,
      2: 4898735.81,
      3: 2753450.92,
      4: 4461424.71,
      5: 7378976.0}}
  )
  datetime_df['Date'] = pd.to_datetime(datetime_df['Date'])
  datetime_df.set_index('Date', inplace=True)       # Setting date column as an index for later functions
  datetime_df.index
  return datetime_df

datetime_df = mk_datetime_dataframe()
# datetime_df

## 1.  Making a Dataframe

In [50]:
df =  pd.DataFrame(people)                  # Making a dataframe from a dictionary
# df2 = pd.DataFrame(people2)                 # These are used on Corry's examples later
# dirty_df = mk_dataframe('dirty')            # These are used on Corry's examples later
# Load csv in here? bad_df = pd.DataFrame(bad_data)

# Add a whole new dataframe as new rows
pd.concat([df, aggregates_df], axis=1)      # Merges the 2 dataframes alomng the column (#1) axis 

# df

NameError: name 'people' is not defined

## 2. Quick Overview of the Data

In [ ]:
# df.info()             # Overview of the dataframe
# df.columns            # List column names
# df.head(10)           # List top x rows (default is 5)
# df.tail()             # List bottom x rows (default is 5)
# df.sample()           # List randon x rows (default is 1)
# df.describe()         # Quick summart of the frame, best for wide format

## 3. Indexes

In [ ]:
df = mk_dataframe('people')
# Set a new index. Keep it set with `inplace``.  
# Indexes don't have to be unique
df.set_index('email', inplace=True)     # Set a column to be an index
print(df.index)
print(df)

df.reset_index(inplace=True)            # Reset row indexes to (hand to 'save'a column used a an index)

## 4. Accessing Data

### 4.1 Access Columns

In [ ]:
df = mk_dataframe('people')
df                                # Simple access
# df['email']                       # Access single column
# df[['last', 'email']]             # Access multiple columns by using a list (a list within the list)i

### 4.2 Access Values

In [ ]:
df = mk_dataframe('people')             #Setup
df.set_index('email', inplace=True)     #Setup
# df.iloc[[0, 1], 2]                    # Access by integer reference / index by using .iloc.  
                                        # .loc and iloc takes row index first

# df.loc[                               # Access by row index name .loc
#     'CoreyMSchafer@gmail.com', 'last']   

# df.loc[                               # As above plus multi selected rows and columns 
#     ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com'], 
#     ['first', 'last']]

### 4.3 Filtering

Best to filter with 2 part process:
1. Set filter 
2. Apply filter

_But can't use word "filter" as a variable name it's reserved_

In [ ]:
df = mk_dataframe('people')             #Setup
df.set_index('email', inplace=True)     #Setup

filt = (df['last'] == 'Schafer') |(   # 1) Set filter.  An exampe of an 'or' '|' filter
    df['first'] == 'John') 
df.loc[filt, 'last']                  # 2) Apply filter or
# df.loc[~filt, 'last']                 # 2) Apply inverse of filter

### 4.4 Querying XXX WIP XXX

In [ ]:
# # # Qurying Data
# snow_data = weather.query('datatype == "SNOW" and value > 0 and station.str.contains("US1NY")')
# snow_data.head()

# valid_station = dirty_data.query('station != "?"').drop(columns=['WESF', 'station'])
# station_with_wesf = dirty_data.query('station == "?"').drop(columns=['station', 'TOBS', 'TMIN', 'TMAX'])

## 5. Cleaning

### 5.1 Checking for Dirty Data

In [ ]:
df = mk_dataframe('dirty')
# Checking for Nulls
# df.info()                 # Will show missing values (nulls) and data types
# dirty_df.isna().sum()     # Identify na values (by getting a mask) rather than drop them with .isna
# # or
# dirty_df.isna()

# Checking for wrong Types
# dirty_df.dtypes           # Identify if data type is correct. 
                            # If numeric are wrong many aggrate functions won't work 

# df.describe()             # This will show some errors up in the dataset, 
                            # eg unreasonably large or small

# df.describe(              # Check the describe for datetime and others
#     include='object')  

# df[df.duplicated(          # Returns the rows (after the first) that
#     ['first', 'last'])]    # are duplicated in the columns mentioned

### 5.2 Dropping Dirty Data

In [ ]:
# dirty_df.dropna()                                 # Drop any / all _rows_ that aren't totally complete with .dropna & how = 'any'
                                                    # default values are: dirty_df.dropna(axis='index', how='any')

# dirty_df.dropna(                                  # Drop rows that have missing data in 'any' specified rows with subset=[]
    # axis='index', how='any', 
    # subset=['last', 'email'])

# dirty_df.dropna(axis='columns')                   # Drop incomplete _columns_.  Which is all of them due to row 4

# dirty_df

### 5.3 Replacing Dirty Data

#### 5.3.1 Replacing Nulls

In [ ]:
# Replacing Nulls
dirty_df.replace('NA', np.nan, inplace=True)          # Replace unusual 'nill' values (in these cases 'NA' & 'Missing') 
dirty_df.replace('Missing', np.nan, inplace=True)     # with the proper np.nan value across whole data frame
# Could do all this at import time for csv pd.read_csv(XXXXX..., na_values=['NA','None'])

dirty_df.fillna(0)                                    # Replaces np.nan  values with an actual value. Most usful for NUMERIC data

#### 5.3.2 Replacing Types

In [ ]:
# Replacing Bad Types
# dirty_df['age'] = df['age'].astype(float)             # Casting a column to the correct data type with .astype
                                                        # Can use .astype on whole dataframe too.
                                                        # Use float not int, as NaN is a float.
# More elegant way to change multiple types:
# !!!!! Needs example updating as data values don't marry up !!!!!
# df = df.assign(
#     date=       lambda x: pd.to_datetime(x['date']),
#     volume =    lambda x: x['volume'].astype(int)
#     )

## 6. Updating Values

### 6.1 Update Column Names

In [ ]:
df = mk_dataframe('people')             #Setup
# df.set_index('email', inplace=True)     #Setup

# df.columns = ['email', 'first_name', 'last_name']         # Rename all columns 

# df.rename(                                                # Rename specific columns using .rename
# df.set_index('email', inplace=True)     #Setup
#     columns={
#         'first_name': 'first', 'last_name': 'last'
#         }, inplace=True                                   # Note, need "inplace" 
#     ) 
 
# df.columns = [x.upper() for x in df.columns]              # Rename all columns by an inline comprehension .columns

# Reset
df.columns = [x.lower() for x in df.columns]                # Reset so later examples work
df

### 6.2 Update Values - Direct Updates

In [ ]:
df['email'] = df['email'].str.lower()                               # Update whole column with string object method with.str.x
df.loc[3] = ['John2Smith@email.com', 'John2', 'Smith']              # Update whole row with .loc
df.loc[2, ['last', 'email']] = ['Smith', 'janeysmith@email.com']    # Update specific columns of a row with .loc

# Update based on filter 
filt = (df['email'] == 'John2Smith@email.com')                      # Update cells based on a filter with .loc
# df[filt]['last'] = 'Smith'                                        # DON'T do this, it won't work
df.loc[filt, 'first'] = 'Johnny'                                    # THIS will, need .loc

df

### 6.3 Updating Values - with Functions

Four Functions:
- `apply`
- `applymap` 
- `map`
- `replace`

#### 6.3.1 `apply` a function to an object (dataframe or series) and get a series as a result
- Object can be a series (by default a column) 
- Object can be a dataframe in which case it's applied to each series (column) for a single result for each

In [ ]:
# Applying to a column
# df['email'].apply(len)            # `apply` the `len` function to the email column

# def update_email(email):          # 'apply' your own function
#     return email.upper()
# df['email'].apply(update_email) 

# df['email'].apply(                # 'Apply' a your own inline (LAMBDA) function 
#     lambda x: x.lower()           # to a whole column and get a series as a result
#     )  

# When applied to a dataframe 'apply' is applied across each series
df.apply(len) # or df.apply(len, axis='columns') or df.apply(len, axis='rows')   
# df.apply(pd.Series.min)           # Returns the minimum (first in alaphs) in each column

# df.apply(                           # Applying a Lambda function to each series
#     lambda x: x.min()
#     )

In [ ]:
# ## Applying Functions
# We can use the `apply()` method to run the same operation 
# oct_weather_z_scores = central_park_weather\
#     .loc['2017-10', ['TMIN', 'TMAX', 'PRCP']]\
#     .apply(lambda x: x.sub(x.mean()).div(x.std()))
# oct_weather_z_scores.describe().T

#### 6.3.2 `applymap` a function to a dataframe and get a dataframe as a result.  
Applied elementwise

In [ ]:
# df.applymap(len)
df.applymap(str.lower)

#### 6.3.3 `map` a series and get a series as a result.  
Replaces __all__ elements in series

In [ ]:
# .map only works on a series. Use like a vlookup
# Use it to subsitute one value for another via a lookup dictionary.
# Unsubtituted vales replaced by NaN
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

#### 6.3.4 `replace` on an object (series or dataframe) a get same object as a result

In [ ]:
# .replace works like map but leaves unsubsittuted values untouched (not NaN)
df['first'] = df['first'].replace({'Corey': 'Corey2', 'Jane': 'Jane2'})
df

### 6.4 Arithmetic & Statistic Methods

In [ ]:
## Arithmetic and statistics
# We already saw that we can use mathematical operators like `+` and `/` with dataframes directly. However, we can also use methods, which allow us to specify the axis to perform the calculation over. By default, this is per column. Let's find the Z-scores for the volume traded and look at the days where this was more than 2 standard deviations from the mean:

# .sub
# .mean()
# .div
# .std()
# .abs()
# .rank()
# .pct_change()
# .any()
# .all()

In [ ]:
# XXXX WIP XXXX
# fb.assign(
#     abs_z_score_volume=lambda x: \
#         x['volume'].sub(x['volume'].mean()).div(x['volume'].std()).abs()
# ).query('abs_z_score_volume > 3')

## 7. Updating Shape

### 7.1 Columns

#### 7.1.1 Adding Columns

In [ ]:
df = mk_dataframe('people')
# Can't use . notation as pandas would look for method

# Split data with str.split.  Splits on space by default so not needed
# would give list by default, need expand=True to make 2 new columns in dataframe
# df['full_name'].str.split(' ', expand=True)

# Creating a new column with strings, can use numeric as well with .apply 
df['full_name'] = df['first'] + ' ' + df['last']

# Create multiple columns at once 
# df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

# Add new columns
df['numeric_data_01'] = \
    np.random.randint(0,100, size=len(df))           # These one is needed for the aggregate examples later
df['numeric_data_02'] = \
    np.random.randint(0,100, size=len(df))
df

In [ ]:
df = mk_dataframe('people')
df                                # Simple access
# df['email']                       # Access single column
# df[['last', 'email']]             # Access multiple columns by using a list (a list within the list)i

#### 7.1.2 Dropping Columns

In [ ]:
# Remove columns with .drop like a db
df.drop(columns=['first', 'last'], inplace=True)
df

### 7.2 Rows

#### 7.2.1 Adding Rows

In [ ]:
df = mk_dataframe('people')
# Adding a single row with .append (Now deprecated)
# df.append({'first': 'Tony'}, ignore_index=True) # insert new row even if no index given: ignore_index=True

# So use:
# df2 = pd.DataFrame({'first': ['Tony']})
# pd.concat([df, df2])


# Add a whole new dataframe as new rows
# Set-Up New dataframe
# aggregates_df = pd.DataFrame()
# aggregates_df['numeric_data_01'] = \
#     np.random.randint(0,100, size=len(df))  
# aggregates_df['numeric_data_02'] = \
#     np.random.randint(0,100, size=len(df))
# pd.concat([df, aggregates_df], axis=1)      # Merges the 2 dataframes alomng the column (#1) axis

#### 7.2.2 Dropping Rows

In [ ]:
# df.drop(index=3, inplace=True)                # Deleteing a row with .drop

filt = df['full_name'] == 'Jane2 Doe'         # Dropping rows based on values.  This case index
# df.drop(index=df[filt].index, inplace=True)

In [ ]:
# Deleting rows based on values 
# filt = df['last'] == 'Stark'
# df.drop(index=df[filt].index)
# df.drop(index=df[filt].index, inplace=True)

### 7.3 Dataframes

#### 7.3.1 Concatanating

In [ ]:
df = df1 = mk_dataframe('people')
# Adding a whole new dataframe as new rows

pd.concat([df, df1],         ignore_index=True, sort=False) # Adds as rows 
pd.concat([df, df1], axis=1, ignore_index=True, sort=False) # Adds as columns

#### 7.3.2 Merging (on any Column)

In [ ]:
# Set-Up
station_info = mk_dataframe('stations')
weather = mk_dataframe('weather')
pd.to_datetime(weather['date'])
weather.set_index('date' , inplace= True)
weather['overlap_cl'] = 'weather'
station_info['overlap_cl'] = 'station'
##########################################
# Merging Dataframes
# By default, `merge()` performs an inner join. 
# We simply specify the columns to use for the join. 
# The left dataframe is the one we call `merge()` on, and the right one is passed in as an argument:

inner_join = weather.merge(station_info, left_on='station', right_on='id')
left_join = station_info.merge(weather, left_on='id', right_on='station', how='left')
right_join = weather.merge(station_info, left_on='station', right_on='id', how='right', suffixes=('_l', '_r'))

# valid_station.merge(
#     station_with_wesf, how='left', left_index=True, right_index=True, suffixes=('', '_?')
# ).query('WESF > 0').head()

# inner_join
# left_join
right_join

#### 7.3.3 Joining (on Index only)

In [ ]:
# Set-Up
station_info = mk_dataframe('stations')
weather = mk_dataframe('weather')
pd.to_datetime(weather['date'])
weather.set_index('date' , inplace= True)
weather['overlap_cl'] = 'weather'
station_info['overlap_cl'] = 'station'
##########################################
# Merge will do everything that .join can do. 
# but .join is a bit easier to use but only works on indexes


weather.index.intersection(station_info.index)
# weather.index.difference(station_info.index)
# station_info.index.difference(weather.index)
# weather.index.unique().union(station_info.index)

# valid_station.join(station_with_wesf, how='left', rsuffix='_?').query('WESF > 0').head() Joins can be very resource-intensive, so it's a good idea to figure out what type of join you need using set operations before trying the join itself.

## 8. Sorting

### 8.1 Sort a Series

In [ ]:
df['email'].sort_values()    # Sort a series (column) with .sort_values

### 8.2 Sort a Dataframe

In [ ]:
# df.sort_values(by='email', ascending=False)   # Sort a dataframe by a single column with sort_values

df.sort_values(                                 # Sort a dataframe by a multiple columnsin a list with .sort_values
    by=['email', 'full_name'], 
    ascending=False)  

# df.sort_values(                               # Sort a dataframe by a multiple columns in a list with .sort_values 
#     by=['email', 'full_name'],                # and different asending attrbutes from a list and make perm with inpace 
#     ascending=[False, True], 
#     inplace=True  
#     )

df.sort_index()                               # Reset the order based on the "original" index with .sort_index

## 9. Aggregates

In [ ]:
# aggregates_df[[                                     # Use aggregation functuins, such as:
#     'numeric_data_01', 'numeric_data_02']].median() # mean, mode, standard deviation on a simgle column

# aggregates_df['numeric_data_01'].count()            # count the number of populated fields in a column with .count

# aggregates_df['numeric_data_01'].value_counts()     # count the number of eachvalue with .value_counts 

# aggregates_df['numeric_data_01'].value_counts(        # or to get a percentage use the normalise=True attribute
#     normalize=True)*100

## 10. Groups, Bins and Windows

### 10.1 Groups

In [ ]:
# Create a group in a similar way as we created a filter, but with .groupby([column_name])
# This gives you a group object, indexed by the group rather than true / galse list of a filter
grp_last = df.groupby(['last'])
grp_last.groups                # KT added to see groups and indexes

# Then apply methods to the group in a 2nd step, e.g., .get_group 
grp_last.get_group('Doe')

# Apply a function (.value_counts) to a column after already being grouped
# Can filter furtther with .loc makes it loke usiong a filter
# Can also get percentage like above with (normalize=True)*100
grp_last['first'].value_counts() #.loc['Smith']

# Can retrive multiple columns and perform other aggregate functions with their methods 
grp_last[['numeric_data_01', 'numeric_data_02']].median() #.loc[['Smith' , 'Doe']]

# *** Or use more generic form to apply multiple aggregated functions with .agg ***
# Seems most generic to me!!!
grp_last[['numeric_data_01', 'numeric_data_02']].agg(['count', 'mean', 'std']) #.loc[['Smith' , 'Doe']]

# Counting rows with filter.  Counts true's in the returned series with .sum
filt = df['last'] == 'Doe'
df.loc[filt]['first'].str.contains('Jane').sum()

# But for a group need to .apply the function to all the group's series 
grp_last['first'].apply(lambda x: x.str.contains('n').sum())

Calculating Percentages with Groups

In [ ]:
#### Percentage With Groups

# s How to find the percentage with an n in their first name and group by surname

# Create a series of the number of people with each surname
surname_count = df['last'].value_counts()
surname_count

# Create a series of people with each surname, with 'n' in first name
surname_count_with_n = grp_last['first'].apply(lambda x: x.str.contains('n').sum())
surname_count_with_n

# Merge the 2 series togther, add and calculate the percentage (answer column) and tidy up column names
df_with_n = pd.concat([surname_count, surname_count_with_n], axis='columns', sort=False)
df_with_n['percentage'] = df_with_n['first']/df_with_n['last']*100
df_with_n.rename(columns={'first': 'First_with_an_n', 'last': 'Surname'}, inplace=True)
df_with_n.sort_values('percentage', ascending=False)
# df_with_n.loc['Smith']

### 10.2 Bins

In [58]:
#  XXX WIP XXX
## Bins
# pd.cut() to create bins of even range in volume
# pd.qcut() to create bins of even content counts

# volume_binned = pd.cut(fb.volume, bins=3, labels=['low', 'med', 'high'])
# volume_binned.value_counts()

# volume_binned = pd.cut(fb.volume, bins=3, labels=['low', 'med', 'high'])
# volume_binned.value_counts()

### 10.3 Windows

In [ ]:
# Windows 
# .rolling method with .assign for new columns 
# central_park_weather.loc['2018-10'].assign(
#     rolling_PRCP=lambda x: x.PRCP.rolling('3D').sum()
##     and other in here too 
# )[['PRCP', 'rolling_PRCP']].head(7).T

# Whole dataframe at once or 'apply' to whole dataframe at onces
# central_park_weather.loc['2018-10'].rolling('3D').mean().iloc[:7,:6]

# Use .agg for different agg methgods
# central_park_weather['2018-10-01':'2018-10-07'].rolling('3D').agg(
#     {'TMAX': 'max', 'TMIN': 'min', 'AWND': 'mean', 'PRCP': 'sum'}
# ).join( # join with original data for comparison
#     central_park_weather[['TMAX', 'TMIN', 'AWND', 'PRCP']], 
#     lsuffix='_rolling'
# ).sort_index(axis=1) # sort columns so rolling calcs are next to originals

# ewm() method for exponentially weighted moving calculations

In [ ]:
# .expanding gives and expaning window rather then a rolling one
# equivalent to cumulative aggregations like `cumsum()` however
# - we aren't limited to predefined aggregations. 
# - can specify the minimum number of periods required to start calculating
    
# central_park_weather.loc['2018-06'].assign(
#     TOTAL_PRCP=lambda x: x.PRCP.cumsum(),
#     AVG_PRCP=lambda x: x.PRCP.expanding().mean()
# ).head(10)[['PRCP', 'TOTAL_PRCP', 'AVG_PRCP']].T 

# central_park_weather['2018-10-01':'2018-10-07'].expanding().agg(
#     {'TMAX': np.max, 'TMIN': np.min, 'AWND': np.mean, 'PRCP': np.sum}
# ).join(
#     central_park_weather[['TMAX', 'TMIN', 'AWND', 'PRCP']], 
#     lsuffix='_expanding'
# ).sort_index(axis=1)

## 11. Datetime

### 11.1 Making a Column Datetime

In [ ]:
# datetime_df['Date'] = pd.to_datetime(datetime_df['Date'])
# datetime_df.set_index(['Date'], inplace=True)
# datetime_df.dtypes
# datetime_df

datetime_df

In [ ]:
datetime_df['Date'] = \
    pd.to_datetime(datetime_df['Date'])     # Apply the pandas to_datetime function to a column             

# datetime_df['Date'] = \
#     datetime_df['Date'].apply(pd.to_datetime)# Same as above

# Can do at import time if prefered
datetime_df

### 11.2 Using Datetime Values

In [ ]:
# datetime_df.loc[0, 'Date'].day_name()   # To find the day name of a single datetime

# datetime_df['DayOfWeek'] =\
#     datetime_df['Date'].dt.day_name()   # New column comtaining day name with .dt.day_name()

# Some self explanatory date functions
# print(datetime_df['Date'].min())
# print(datetime_df['Date'].max())
# print(datetime_df['Date'].max() - datetime_df['Date'].min()) # Known as time delta

# Filtering on date range in str converted to a datetime with .to_datetime
filt = (
    datetime_df['Date'] >= pd.to_datetime('2020-03-13 16:00:00')) & (
    datetime_df['Date'] < pd.to_datetime('2020-03-13 18:00:00'))

datetime_df.loc[filt]
# datetime_df

### 11.3 Using Datetime as an Index

In [ ]:
datetime_df.set_index('Date', inplace=True)       # Setting date column as an index for later functions
datetime_df.index

datetime_df.loc['2020-03-13 16:00']               # Single value slice on index with .loc

# datetime_df.loc[                                  # Slice on index with .loc and for range :
#     '2020-03-13 17:00':'2020-03-13 19:00']                    

# datetime_df.loc[
#     '2020-03-13 17:00':'2020-03-13 19:00'][        # Get an aggregate value of a column sliced by date 
#     'Close'].mean()    

# datetime_df['High'].resample('D').max()         # Resample (downsample) a range using 'D' for day and .resample
# datetime_df

### 11.4 Resampling

In [ ]:
# Resample whole dataframe with single aggregation method
df.resample('W').mean()

In [ ]:
# Resample whole dataframe with diferent aggregations with a map & .agg method
df.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

## 12. Plots

In [ ]:
datetime_df = mk_datetime_dataframe()

# Setup Series to Plot
highs = datetime_df['High'].resample('H').max()
highs

# # Quick line plot with mathplot & a Magic command needed for Jupyter notebook
%matplotlib inline 
highs.plot()

# datetime_df.index

## X. Common Problems

### X.1 "SettingWithCopyWarning"

In [ ]:
# "SettingWithCopyWarning" fixed with .copy() 
# to explicitly decare that new opbject is a copy not a reference

## XX.  To File

In [ ]:
# pd.DataFrame({      # Really nice way to gather summary stats for targeted rows into a data frame
#     'np.inf Snow Depth': df[df.SNWD == np.inf].SNOW.describe(),
#     '-np.inf Snow Depth': df[df.SNWD == -np.inf].SNOW.describe()
# }).T                # Note the .T to transpose the results

In [ ]:
# Need somthing on np.vectorize() to vectorize functions similar to how `map()` works

In [ ]:
# Pipes = 'put result into fillowing function'
# We can use pipes to apply any function that accepts our data as the first argument and pass in any additional arguments. This makes it easy to chain steps together regardless of whether they are methods or functions:

# f(g(h(data), 20), x=True)
# = same as =
# data.pipe(h)\
#     .pipe(g, 20)\
#     .pipe(f, x=True)\