# Exercises from Chap 4

## Set-Up

In [1]:
import pandas as pd

## Q1

In [37]:
df = pd.read_csv('earthquakes.csv'
        ).query("mag > 3 and magType == 'mb'")

df

,mag,magType,time,place,tsunami,parsed_place
9,4.7,mb,1539472814760,"219km SSE of Saparua, Indonesia",0,Indonesia
13,4.5,mb,1539470898340,"120km SSW of Banda Aceh, Indonesia",0,Indonesia
55,4.6,mb,1539453241120,"242km NNW of Farallon de Pajaros, Northern Mar...",0,Northern Mariana Islands
67,4.6,mb,1539448501800,"160km NNW of Nago, Japan",0,Japan
91,4.7,mb,1539437762090,"32km SE of Muisne, Ecuador",0,Ecuador
...,...,...,...,...,...,...
9297,4.2,mb,1537238925690,"2km NE of Kato Achaia, Greece",0,Greece
9304,5.1,mb,1537236235470,"34km NW of Finschhafen, Papua New Guinea",1,Papua New Guinea
9309,4.8,mb,1537234582260,"11km ESE of Rotorua, New Zealand",0,New Zealand
9319,4.4,mb,1537231966170,"58km W of San Antonio de los Cobres, Argentina",0,Argentina
9321,4.3,mb,1537231275500,"19km NE of Cateel, Philippines",0,Philippines

## Q2

In [51]:
pd.cut(df['mag'], range(df['mag'].max()))

TypeError: 'float' object cannot be interpreted as an integer