# Exercises from Chap 4

## Set-Up

In [1]:
import pandas as pd

## Q1

In [100]:
df = pd.read_csv('earthquakes.csv'
        ).query('mag >= 4.9 and magType == "mb" and parsed_place  == "Japan"')

df

,mag,magType,time,place,tsunami,parsed_place
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan

## Q2

In [83]:
list = pd.cut(df['mag'],range(int(df['mag'].max())+1))
list

9       (4, 5]
13      (4, 5]
55      (4, 5]
67      (4, 5]
91      (4, 5]
         ...
9297    (4, 5]
9304    (5, 6]
9309    (4, 5]
9319    (4, 5]
9321    (4, 5]
Name: mag, Length: 601, dtype: category
Categories (6, interval[int64, right]): [(0, 1] < (1, 2] < (2, 3] < (3, 4] < (4, 5] < (5, 6]]