# Exercises from Chap 4

## Set-Up

In [1]:
import pandas as pd

## Q1

In [11]:
df = pd.read_csv('earthquakes.csv')
df = pd.read_csv('earthquakes.csv').query("magType == 'md'") 
df

,mag,magType,time,place,tsunami,parsed_place
4,2.16,md,1539474716050,"10km NW of Avenal, CA",0,California
5,2.61,md,1539473686440,"55km ESE of Punta Cana, Dominican Republic",0,Dominican Republic
7,1.13,md,1539473060280,"10km NW of Parkfield, CA",0,California
8,0.92,md,1539473042310,"6km NW of The Geysers, CA",0,California
11,2.77,md,1539471621260,"53km SE of Punta Cana, Dominican Republic",0,Dominican Republic
...,...,...,...,...,...,...
9315,2.74,md,1537232857340,"36km NNW of San Antonio, Puerto Rico",0,Puerto Rico
9322,0.40,md,1537231090700,"8km ENE of Mammoth Lakes, CA",0,California
9323,0.60,md,1537230828440,"4km ENE of Mammoth Lakes, CA",0,California
9327,0.62,md,1537230228060,"9km ENE of Mammoth Lakes, CA",0,California
9329,2.40,md,1537229908180,"35km NNE of Hatillo, Puerto Rico",0,Puerto Rico