# Exercises from Chap 4

## Set-Up

In [2]:
import pandas as pd
import numpy as np

## Q1

In [3]:
df = pd.read_csv('earthquakes.csv'
        ).query('mag >= 4.9 and magType == "mb" and parsed_place  == "Japan"'
        ).drop(columns=['time', 'tsunami', 'parsed_place']
        )
df

      mag magType                         place
1563  4.9      mb  293km ESE of Iwo Jima, Japan
2576  5.4      mb    37km E of Tomakomai, Japan
3072  4.9      mb     15km ENE of Hasaki, Japan
3632  4.9      mb    53km ESE of Hitachi, Japan

## Q2

In [4]:
# Set-up
df = pd.read_csv('earthquakes.csv')

In [5]:
# My Answer (works and slightly faster!)
# %%timeit

df['bins'] = pd.cut(df['mag'],range(int(df['mag'].max())+1))
rows = (df['magType'] == 'ml')
df.loc[rows,['bins']].value_counts()

bins
(1, 2]    3105
(0, 1]    2207
(2, 3]     862
(3, 4]     122
(4, 5]       2
(5, 6]       1
(6, 7]       0
dtype: int64

In [6]:
# Textbook answer but converted to dictionary format
# Single line though
# %%timeit

df.query("magType == 'ml'").assign(
    mag_bin=lambda x: pd.cut(x.mag, np.arange(0, 10))
)['mag_bin'].value_counts()

(1, 2]    3105
(0, 1]    2207
(2, 3]     862
(3, 4]     122
(4, 5]       2
(5, 6]       1
(6, 7]       0
(7, 8]       0
(8, 9]       0
Name: mag_bin, dtype: int64

## Q3

In [7]:
# Set-up
df = pd.read_csv('faang.csv')
df.head()
df.describe()
df

,ticker,date,high,low,open,close,volume
0,FB,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0
1,FB,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0
2,FB,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0
3,FB,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0
4,FB,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0
...,...,...,...,...,...,...,...
1250,GOOG,2018-12-24,1003.539978,970.109985,973.900024,976.219971,1590300.0
1251,GOOG,2018-12-26,1040.000000,983.000000,989.010010,1039.459961,2373300.0
1252,GOOG,2018-12-27,1043.890015,997.000000,1017.150024,1043.880005,2109800.0
1253,GOOG,2018-12-28,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0
1254,GOOG,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0

In [8]:
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True )
df.groupby('ticker').resample('M').agg({
    'open': 'mean',
    'high': 'max',
    'low': 'min',
    'close': 'mean',
    'volume': 'sum'    
})

                          open         high          low        close  \
ticker date
AAPL   2018-01-31    43.505357    45.025002    41.174999    43.501309
       2018-02-28    41.819079    45.154999    37.560001    41.909737
       2018-03-31    43.761786    45.875000    41.235001    43.624048
       2018-04-30    42.441310    44.735001    40.157501    42.458572
       2018-05-31    46.239091    47.592499    41.317501    46.384205
       2018-06-30    47.180119    48.549999    45.182499    47.155357
       2018-07-31    47.549048    48.990002    45.855000    47.577857
       2018-08-31    53.121739    57.217499    49.327499    53.336522
       2018-09-30    55.582763    57.417500    53.825001    55.518421
       2018-10-31    55.300000    58.367500    51.522499    55.211413
       2018-11-30    47.954881    55.590000    42.564999    47.808929
       2018-12-31    41.310789    46.235001    36.647499    41.066579
AMZN   2018-01-31  1301.377151  1472.579956  1170.510010  1309.010946
       2018-02-28  1447.113159  1528.699951  1265.930054  1442.363146
       2018-03-31  1542.160464  1617.540039  1365.199951  1540.367629
       2018-04-30  1475.841902  1638.099976  1352.880005  1468.220471
       2018-05-31  1590.474543  1635.000000  1546.020020  1594.903637
       2018-06-30  1699.088582  1763.099976  1635.089966  1698.823812
       2018-07-31  1786.305716  1880.050049  1678.060059  1784.649042
       2018-08-31  1891.957833  2025.569946  1776.020020  1897.851308
       2018-09-30  1969.239476  2050.500000  1865.000000  1966.077900
       2018-10-31  1799.630865  2033.189941  1476.359985  1782.058265
       2018-11-30  1622.323806  1784.000000  1420.000000  1625.483823
       2018-12-31  1572.922100  1778.339966  1307.000000  1559.443154
FB     2018-01-31   184.584284   190.660004   175.800003   184.962856
       2018-02-28   180.721578   195.320007   167.179993   180.269473
       2018-03-31   173.449524   186.100006   149.020004   173.489522
       2018-04-30   164.163332   177.100006   150.509995   163.810476
       2018-05-31   181.910909   192.720001   170.229996   182.930000
       2018-06-30   194.974763   203.550003   186.429993   195.267620
       2018-07-31   199.332381   218.619995   166.559998   199.967142
       2018-08-31   177.598695   188.300003   170.270004   177.492172
       2018-09-30   164.233158   173.889999   158.869995   164.377368
       2018-10-31   154.873479   165.880005   139.029999   154.187826
       2018-11-30   141.762857   154.130005   126.849998   141.635715
       2018-12-31   137.529475   147.190002   123.019997   137.161052
GOOG   2018-01-31  1127.200945  1186.890015  1045.229980  1130.770467
       2018-02-28  1088.629472  1174.000000   992.559998  1088.206839
       2018-03-31  1096.108085  1177.050049   980.640015  1091.490479
       2018-04-30  1038.415237  1094.165039   990.369995  1035.696187
       2018-05-31  1064.021376  1110.750000  1006.289978  1069.275901
       2018-06-30  1136.396182  1186.286011  1096.010010  1137.626668
       2018-07-31  1183.464280  1273.890015  1093.800049  1187.590472
       2018-08-31  1226.156951  1256.500000  1188.239990  1225.671732
       2018-09-30  1176.878424  1212.989990  1146.910034  1175.808934
       2018-10-31  1116.082172  1209.959961   995.830017  1110.940411
       2018-11-30  1054.971424  1095.569946   996.020020  1056.162394
       2018-12-31  1042.619998  1124.650024   970.109985  1037.420519
NFLX   2018-01-31   231.269525   286.809998   195.419998   232.908096
       2018-02-28   270.873158   297.359985   236.110001   271.443683
       2018-03-31   312.712859   333.980011   275.899994   312.228097
       2018-04-30   309.129524   338.820007   271.220001   307.466192
       2018-05-31   329.779541   356.100006   305.730011   331.536819
       2018-06-30   384.557143   423.209991   352.820007   384.133336
       2018-07-31   380.969526   419.769989   328.000000   381.515238
       2018-08-31   345.410001   376.809998   310.929993   346.257824
       2018-09-30   363.326843   383.200012   335.829987   362.641576
       2018-10-31   340.025218   386.799988   271.209991   335.445652
       2018-11-30   290.643335   332.049988   250.000000   290.344764
       2018-12-31   266.309474   298.720001   231.229996   265.302630

                         volume
ticker date
AAPL   2018-01-31  2.638718e+09
       2018-02-28  3.711577e+09
       2018-03-31  2.854911e+09
       2018-04-30  2.664617e+09
       2018-05-31  2.483905e+09
       2018-06-30  2.110498e+09
       2018-07-31  1.574766e+09
       2018-08-31  2.801276e+09
       2018-09-30  2.715888e+09
       2018-10-31  3.158994e+09
       2018-11-30  3.845306e+09
       2018-12-31  3.595690e+09
AMZN   2018-01-31  9.637120e+07
       2018-02-28  1.377840e+08
       2018-03-31  1.304001e+08
       2018-04-30  1.299196e+08
       2018-05-31  7.161550e+07
       2018-06-30  8.594130e+07
       2018-07-31  9.752110e+07
       2018-08-31  9.657580e+07
       2018-09-30  9.444550e+07
       2018-10-31  1.832208e+08
       2018-11-30  1.392900e+08
       2018-12-31  1.548127e+08
FB     2018-01-31  4.956557e+08
       2018-02-28  5.162516e+08
       2018-03-31  9.962017e+08
       2018-04-30  7.500727e+08
       2018-05-31  4.011441e+08
       2018-06-30  3.872656e+08
       2018-07-31  6.470307e+08
       2018-08-31  5.488327e+08
       2018-09-30  5.004688e+08
       2018-10-31  6.224463e+08
       2018-11-30  5.181517e+08
       2018-12-31  5.587862e+08
GOOG   2018-01-31  2.873840e+07
       2018-02-28  4.238200e+07
       2018-03-31  4.535330e+07
       2018-04-30  4.171590e+07
       2018-05-31  3.184940e+07
       2018-06-30  3.209600e+07
       2018-07-31  3.194010e+07
       2018-08-31  2.880840e+07
       2018-09-30  2.886240e+07
       2018-10-31  4.849470e+07
       2018-11-30  3.673510e+07
       2018-12-31  4.025760e+07
NFLX   2018-01-31  2.383776e+08
       2018-02-28  1.845858e+08
       2018-03-31  2.634494e+08
       2018-04-30  2.620060e+08
       2018-05-31  1.420508e+08
       2018-06-30  2.440318e+08
       2018-07-31  3.053938e+08
       2018-08-31  2.131223e+08
       2018-09-30  1.708321e+08
       2018-10-31  3.635898e+08
       2018-11-30  2.571264e+08
       2018-12-31  2.343100e+08

In [9]:
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True )
df.groupby('ticker').resample('M').agg({
    'open': np.mean,
    'high': np.max,
    'low': np.min,
    'close': np.mean,
    'volume': np.sum
})
# df
#

                          open         high          low        close  \
ticker date
AAPL   2018-01-31    43.505357    45.025002    41.174999    43.501309
       2018-02-28    41.819079    45.154999    37.560001    41.909737
       2018-03-31    43.761786    45.875000    41.235001    43.624048
       2018-04-30    42.441310    44.735001    40.157501    42.458572
       2018-05-31    46.239091    47.592499    41.317501    46.384205
       2018-06-30    47.180119    48.549999    45.182499    47.155357
       2018-07-31    47.549048    48.990002    45.855000    47.577857
       2018-08-31    53.121739    57.217499    49.327499    53.336522
       2018-09-30    55.582763    57.417500    53.825001    55.518421
       2018-10-31    55.300000    58.367500    51.522499    55.211413
       2018-11-30    47.954881    55.590000    42.564999    47.808929
       2018-12-31    41.310789    46.235001    36.647499    41.066579
AMZN   2018-01-31  1301.377151  1472.579956  1170.510010  1309.010946
       2018-02-28  1447.113159  1528.699951  1265.930054  1442.363146
       2018-03-31  1542.160464  1617.540039  1365.199951  1540.367629
       2018-04-30  1475.841902  1638.099976  1352.880005  1468.220471
       2018-05-31  1590.474543  1635.000000  1546.020020  1594.903637
       2018-06-30  1699.088582  1763.099976  1635.089966  1698.823812
       2018-07-31  1786.305716  1880.050049  1678.060059  1784.649042
       2018-08-31  1891.957833  2025.569946  1776.020020  1897.851308
       2018-09-30  1969.239476  2050.500000  1865.000000  1966.077900
       2018-10-31  1799.630865  2033.189941  1476.359985  1782.058265
       2018-11-30  1622.323806  1784.000000  1420.000000  1625.483823
       2018-12-31  1572.922100  1778.339966  1307.000000  1559.443154
FB     2018-01-31   184.584284   190.660004   175.800003   184.962856
       2018-02-28   180.721578   195.320007   167.179993   180.269473
       2018-03-31   173.449524   186.100006   149.020004   173.489522
       2018-04-30   164.163332   177.100006   150.509995   163.810476
       2018-05-31   181.910909   192.720001   170.229996   182.930000
       2018-06-30   194.974763   203.550003   186.429993   195.267620
       2018-07-31   199.332381   218.619995   166.559998   199.967142
       2018-08-31   177.598695   188.300003   170.270004   177.492172
       2018-09-30   164.233158   173.889999   158.869995   164.377368
       2018-10-31   154.873479   165.880005   139.029999   154.187826
       2018-11-30   141.762857   154.130005   126.849998   141.635715
       2018-12-31   137.529475   147.190002   123.019997   137.161052
GOOG   2018-01-31  1127.200945  1186.890015  1045.229980  1130.770467
       2018-02-28  1088.629472  1174.000000   992.559998  1088.206839
       2018-03-31  1096.108085  1177.050049   980.640015  1091.490479
       2018-04-30  1038.415237  1094.165039   990.369995  1035.696187
       2018-05-31  1064.021376  1110.750000  1006.289978  1069.275901
       2018-06-30  1136.396182  1186.286011  1096.010010  1137.626668
       2018-07-31  1183.464280  1273.890015  1093.800049  1187.590472
       2018-08-31  1226.156951  1256.500000  1188.239990  1225.671732
       2018-09-30  1176.878424  1212.989990  1146.910034  1175.808934
       2018-10-31  1116.082172  1209.959961   995.830017  1110.940411
       2018-11-30  1054.971424  1095.569946   996.020020  1056.162394
       2018-12-31  1042.619998  1124.650024   970.109985  1037.420519
NFLX   2018-01-31   231.269525   286.809998   195.419998   232.908096
       2018-02-28   270.873158   297.359985   236.110001   271.443683
       2018-03-31   312.712859   333.980011   275.899994   312.228097
       2018-04-30   309.129524   338.820007   271.220001   307.466192
       2018-05-31   329.779541   356.100006   305.730011   331.536819
       2018-06-30   384.557143   423.209991   352.820007   384.133336
       2018-07-31   380.969526   419.769989   328.000000   381.515238
       2018-08-31   345.410001   376.809998   310.929993   346.257824
       2018-09-30   363.326843   383.200012   335.829987   362.641576
       2018-10-31   340.025218   386.799988   271.209991   335.445652
       2018-11-30   290.643335   332.049988   250.000000   290.344764
       2018-12-31   266.309474   298.720001   231.229996   265.302630

                         volume
ticker date
AAPL   2018-01-31  2.638718e+09
       2018-02-28  3.711577e+09
       2018-03-31  2.854911e+09
       2018-04-30  2.664617e+09
       2018-05-31  2.483905e+09
       2018-06-30  2.110498e+09
       2018-07-31  1.574766e+09
       2018-08-31  2.801276e+09
       2018-09-30  2.715888e+09
       2018-10-31  3.158994e+09
       2018-11-30  3.845306e+09
       2018-12-31  3.595690e+09
AMZN   2018-01-31  9.637120e+07
       2018-02-28  1.377840e+08
       2018-03-31  1.304001e+08
       2018-04-30  1.299196e+08
       2018-05-31  7.161550e+07
       2018-06-30  8.594130e+07
       2018-07-31  9.752110e+07
       2018-08-31  9.657580e+07
       2018-09-30  9.444550e+07
       2018-10-31  1.832208e+08
       2018-11-30  1.392900e+08
       2018-12-31  1.548127e+08
FB     2018-01-31  4.956557e+08
       2018-02-28  5.162516e+08
       2018-03-31  9.962017e+08
       2018-04-30  7.500727e+08
       2018-05-31  4.011441e+08
       2018-06-30  3.872656e+08
       2018-07-31  6.470307e+08
       2018-08-31  5.488327e+08
       2018-09-30  5.004688e+08
       2018-10-31  6.224463e+08
       2018-11-30  5.181517e+08
       2018-12-31  5.587862e+08
GOOG   2018-01-31  2.873840e+07
       2018-02-28  4.238200e+07
       2018-03-31  4.535330e+07
       2018-04-30  4.171590e+07
       2018-05-31  3.184940e+07
       2018-06-30  3.209600e+07
       2018-07-31  3.194010e+07
       2018-08-31  2.880840e+07
       2018-09-30  2.886240e+07
       2018-10-31  4.849470e+07
       2018-11-30  3.673510e+07
       2018-12-31  4.025760e+07
NFLX   2018-01-31  2.383776e+08
       2018-02-28  1.845858e+08
       2018-03-31  2.634494e+08
       2018-04-30  2.620060e+08
       2018-05-31  1.420508e+08
       2018-06-30  2.440318e+08
       2018-07-31  3.053938e+08
       2018-08-31  2.131223e+08
       2018-09-30  1.708321e+08
       2018-10-31  3.635898e+08
       2018-11-30  2.571264e+08
       2018-12-31  2.343100e+08

## Q4

In [10]:
df = pd.read_csv('earthquakes.csv')
pd.crosstab(
    df['tsunami'],
    df['magType'],
    values =    df['mag'],
    aggfunc=    np.max
)

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

## Q5

In [11]:
# .sort_index()
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True)
df.groupby('ticker').rolling('60D').agg({
    'open': np.mean,
    'high': np.max,
    'low': np.min,
    'close': np.mean,
    'volume': np.sum
})

                         open        high         low       close       volume
ticker date
AAPL   2018-01-02   42.540001   43.075001   42.314999   43.064999  102223600.0
       2018-01-03   42.836250   43.637501   42.314999   43.061249  220295200.0
       2018-01-04   42.935833   43.637501   42.314999   43.126666  310033600.0
       2018-01-05   43.041875   43.842499   42.314999   43.282499  404673600.0
       2018-01-08   43.151000   43.902500   42.314999   43.343500  486944800.0
...                       ...         ...         ...         ...          ...
NFLX   2018-12-24  283.509251  332.049988  233.679993  281.931750  525657600.0
       2018-12-26  281.844501  332.049988  231.229996  280.777750  520444300.0
       2018-12-27  281.070489  332.049988  231.229996  280.162927  532679500.0
       2018-12-28  279.916342  332.049988  231.229996  279.461464  521973500.0
       2018-12-31  278.430770  332.049988  231.229996  277.451539  476314900.0

[1255 rows x 5 columns]

## Q6

In [12]:
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True)
df.pivot_table(
     index='ticker'
    # ,aggfunc='mean'
    )

              close         high          low         open        volume
ticker
AAPL      47.263357    47.748526    46.795877    47.277859  1.360803e+08
AMZN    1641.726176  1662.839839  1619.840519  1644.072709  5.648994e+06
FB       171.510956   173.613347   169.303148   171.472948  2.765860e+07
GOOG    1113.225134  1125.777606  1101.001658  1113.554101  1.741965e+06
NFLX     319.290319   325.219322   313.187330   319.620558  1.146962e+07

## Q7

In [13]:
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True)

df.loc['2018-Q4'
    ].query("ticker == 'AMZN'"
    ).drop(columns='ticker'
    ).apply(
    lambda x: x.sub(x.mean()).div(x.std())
    )

                high       low      open     close    volume
date
2018-10-01  2.368006  2.502113  2.337813  2.385848 -1.630411
2018-10-02  2.227302  2.247433  2.190795  2.155037 -0.861879
2018-10-03  2.058955  2.139987  2.068570  2.025489 -0.920345
2018-10-04  1.819474  1.781561  1.850048  1.722816 -0.126582
2018-10-05  1.628173  1.554416  1.642819  1.584748 -0.298771
...              ...       ...       ...       ...       ...
2018-12-24 -2.159820 -2.187566 -2.179582 -2.226185 -0.141238
2018-12-26 -1.611714 -1.810493 -2.026617 -1.339674  1.123063
2018-12-27 -1.641276 -1.626703 -1.456521 -1.404343  0.849827
2018-12-28 -1.325261 -1.231588 -1.328549 -1.289951  0.496102
2018-12-31 -1.273456 -0.975763 -1.078283 -1.122691 -0.246405

[63 rows x 5 columns]

## Q8

In [26]:
df = pd.read_csv('faang.csv', index_col='date', parse_dates=True)
# df = pd.read_csv('../../ch_04/exercises/faang.csv', index_col='date', parse_dates=True)

ticker  = 'FB'
date    =  pd.to_datetime(
           ['2018-07-25', '2018-03-19', '2018-03-20'])
event   =  ['Dissapointing user growth announced after close.', 
            'Cambridge Analytica story',
            'FTC Investigation']
event_df = pd.DataFrame({
            'date': date
           ,'event': event
           ,'ticker': ticker
           })
event_df.set_index(['date', 'ticker'], inplace=True)

df.reset_index().set_index(['date', 'ticker']
           ).join(event_df, how='outer'
           ).sample(10, random_state=0)

,,high,low,open,close,volume,event
date,ticker,,,,,,
2018-01-03,AAPL,43.637501,42.990002,43.132500,43.057499,118071600.0,NaN
2018-05-23,NFLX,345.000000,328.089996,329.040009,344.720001,10049100.0,NaN
2018-01-17,FB,179.320007,175.800003,179.259995,177.600006,27992400.0,NaN
2018-10-17,AMZN,1845.000000,1807.000000,1842.790039,1831.729980,5295200.0,NaN
2018-02-26,AMZN,1522.839966,1507.000000,1509.199951,1521.949951,4955000.0,NaN
2018-01-05,GOOG,1104.250000,1092.000000,1094.000000,1102.229980,1279100.0,NaN
2018-04-04,FB,155.559998,150.509995,152.029999,155.100006,49885600.0,NaN
2018-05-30,AMZN,1626.000000,1612.930054,1618.099976,1624.890015,2907400.0,NaN
2018-04-17,NFLX,338.619995,323.769989,329.660004,336.059998,33866500.0,NaN
2018-06-15,AMZN,1720.869995,1708.520020,1714.000000,1715.969971,4777600.0,NaN

In [27]:
faang = pd.read_csv('../../ch_04/exercises/faang.csv', index_col='date', parse_dates=True)
events = pd.DataFrame({
    'ticker': 'FB',
    'date': pd.to_datetime(
         ['2018-07-25', '2018-03-19', '2018-03-20']
    ), 
    'event': [
         'Disappointing user growth announced after close.',
         'Cambridge Analytica story',
         'FTC investigation'
    ]
}).set_index(['date', 'ticker'])

faang.reset_index().set_index(['date', 'ticker']).join(
    events, how='outer'
).sample(10, random_state=0)

,,high,low,open,close,volume,event
date,ticker,,,,,,
2018-01-03,AAPL,43.637501,42.990002,43.132500,43.057499,118071600.0,NaN
2018-05-23,NFLX,345.000000,328.089996,329.040009,344.720001,10049100.0,NaN
2018-01-17,FB,179.320007,175.800003,179.259995,177.600006,27992400.0,NaN
2018-10-17,AMZN,1845.000000,1807.000000,1842.790039,1831.729980,5295200.0,NaN
2018-02-26,AMZN,1522.839966,1507.000000,1509.199951,1521.949951,4955000.0,NaN
2018-01-05,GOOG,1104.250000,1092.000000,1094.000000,1102.229980,1279100.0,NaN
2018-04-04,FB,155.559998,150.509995,152.029999,155.100006,49885600.0,NaN
2018-05-30,AMZN,1626.000000,1612.930054,1618.099976,1624.890015,2907400.0,NaN
2018-04-17,NFLX,338.619995,323.769989,329.660004,336.059998,33866500.0,NaN
2018-06-15,AMZN,1720.869995,1708.520020,1714.000000,1715.969971,4777600.0,NaN

## Q9

In [34]:
faang = pd.read_csv('faang.csv', index_col=['ticker', 'date'], parse_dates=True)
df_index = (faang / faang.groupby(level='ticker').transform('first'))

# view 3 rows of the result per ticker
df_index.groupby(level='ticker').agg('head', 3)

                       high       low      open     close    volume
ticker date
FB     2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.017623  1.021290  1.023638  1.017914  0.930294
       2018-01-04  1.025498  1.036891  1.040635  1.016040  0.764708
AAPL   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.013059  1.015952  1.013928  0.999826  1.155033
       2018-01-04  1.006790  1.016661  1.013987  1.004470  0.877864
AMZN   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.013017  1.015199  1.013908  1.012775  1.153758
       2018-01-04  1.021739  1.029175  1.028157  1.017308  1.121581
NFLX   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.022614  1.031112  1.030342  1.019794  0.783394
       2018-01-04  1.026779  1.043905  1.051504  1.022679  0.549800
GOOG   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.018136  1.017202  1.015234  1.016413  1.155624
       2018-01-04  1.024959  1.037094  1.037831  1.020094  0.811732

## Q10

## 10 Part 1

In [71]:
df = pd.read_csv('covid19_cases.csv', parse_dates=True)\
    .assign(date = lambda x: pd.to_datetime(x['dateRep'], format='%d/%m/%Y'))\
    .set_index('date')\
    .replace({'United_States_of_America': 'USA', 'United_Kingdom': 'UK'})\
    .sort_index()

# df.query("countriesAndTerritories == 'USA'").head()
# df.info()
df.sample(20)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-03-30,30/03/2020,30,3,2020,27,0,Azerbaijan,AZ,AZE,10047719.0,Europe,1.890976
2020-04-23,23/04/2020,23,4,2020,457,6,United_Arab_Emirates,AE,ARE,9770526.0,Asia,58.594594
2020-07-05,05/07/2020,5,7,2020,416,23,Romania,RO,ROU,19414458.0,Europe,24.991684
2020-03-12,12/03/2020,12,3,2020,3,1,Bulgaria,BG,BGR,7000039.0,Europe,NaN
2020-04-06,06/04/2020,6,4,2020,0,0,Saint_Lucia,LC,LCA,182795.0,America,6.564731
2020-04-21,21/04/2020,21,4,2020,114,14,Hungary,HU,HUN,9772756.0,Europe,13.107868
2020-03-27,27/03/2020,27,3,2020,15,1,Honduras,HN,HND,9746115.0,America,0.687453
2020-03-03,03/03/2020,3,3,2020,1,0,Tunisia,TN,TUN,11694721.0,Africa,NaN
2020-08-18,18/08/2020,18,8,2020,1156,12,Uzbekistan,UZ,UZB,32981715.0,Asia,28.955438
2020-05-05,05/05/2020,5,5,2020,190,5,Afghanistan,AF,AFG,38041757.0,Asia,4.897250
2020-08-09,09/08/2020,9,8,2020,16,0,Jamaica,JM,JAM,2948277.0,America,5.630407
2020-06-08,08/06/2020,8,6,2020,8,0,Togo,TG,TGO,8082359.0,Africa,1.410479
2020-04-07,07/04/2020,7,4,2020,11,3,Bolivia,BO,BOL,11513102.0,America,1.441836
2020-07-17,17/07/2020,17,7,2020,2764,45,Saudi_Arabia,SA,SAU,34268529.0,Asia,133.154242
2020-06-17,17/06/2020,17,6,2020,0,0,Fiji,FJ,FJI,889955.0,Oceania,0.000000
2020-02-10,10/02/2020,10,2,2020,0,0,Norway,NO,NOR,5328212.0,Europe,0.000000
2020-04-26,26/04/2020,26,4,2020,783,16,Pakistan,PK,PAK,216565317.0,Asia,3.548583
2020-06-03,03/06/2020,3,6,2020,13,0,Chad,TD,TCD,15946882.0,Africa,1.617871
2020-07-04,04/07/2020,4,7,2020,0,0,Lesotho,LS,LSO,2125267.0,Africa,1.458640
2020-06-26,26/06/2020,26,6,2020,27,0,Sierra_Leone,SL,SLE,7813207.0,Africa,3.788457

In [72]:
df = pd.read_csv('covid19_cases.csv', parse_dates=True)\
    .assign(date = lambda x: pd.to_datetime(x['dateRep'], format='%d/%m/%Y'))\
    .set_index('date')\
    .replace({'United_States_of_America': 'USA', 'United_Kingdom': 'UK'})\
    .sort_index()

# df.query("countriesAndTerritories == 'USA'").head()
# df.info()
df.sample(20)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-06,06/01/2020,6,1,2020,0,0,Bahrain,BH,BHR,1641164.0,Asia,NaN
2020-08-10,10/08/2020,10,8,2020,0,0,Saint_Kitts_and_Nevis,KN,KNA,52834.0,America,0.000000
2020-05-11,11/05/2020,11,5,2020,6,0,Estonia,EE,EST,1324820.0,Europe,7.246267
2020-04-18,18/04/2020,18,4,2020,20,0,Jamaica,JM,JAM,2948277.0,America,3.730993
2020-05-29,29/05/2020,29,5,2020,30,0,Sierra_Leone,SL,SLE,7813207.0,Africa,5.170732
2020-07-30,30/07/2020,30,7,2020,8,0,Cambodia,KH,KHM,16486542.0,Asia,0.412458
2020-06-18,18/06/2020,18,6,2020,280,10,Sudan,SD,SDN,42813237.0,Africa,6.329818
2020-08-23,23/08/2020,23,8,2020,0,0,Comoros,KM,COM,850891.0,Africa,0.822667
2020-06-28,28/06/2020,28,6,2020,22,0,Maldives,MV,MDV,530957.0,Asia,54.995037
2020-08-04,04/08/2020,4,8,2020,75,1,Greece,EL,GRC,10724599.0,Europe,6.760160
2020-08-16,16/08/2020,16,8,2020,160,2,Senegal,SN,SEN,16296362.0,Africa,10.726320
2020-08-05,05/08/2020,5,8,2020,82,6,Afghanistan,AF,AFG,38041757.0,Asia,2.896817
2020-05-23,23/05/2020,23,5,2020,0,0,United_Republic_of_Tanzania,TZ,TZA,58005461.0,Africa,0.000000
2020-04-24,24/04/2020,24,4,2020,46,1,Bosnia_and_Herzegovina,BA,BIH,3300998.0,Europe,16.298101
2020-05-08,08/05/2020,8,5,2020,918,0,Qatar,QA,QAT,2832071.0,Asia,392.857382
2020-09-08,08/09/2020,8,9,2020,0,0,New_Caledonia,NC,NCL,282757.0,Oceania,1.060982
2020-07-07,07/07/2020,7,7,2020,1,0,Sao_Tome_and_Principe,ST,STP,215048.0,Africa,8.835237
2020-07-09,09/07/2020,9,7,2020,7,0,Latvia,LV,LVA,1919968.0,Europe,1.562526
2020-08-02,02/08/2020,2,8,2020,323,0,Palestine,PS,PSE,4981422.0,Asia,119.805148
2020-08-21,21/08/2020,21,8,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,0.000000

### Q10 Part 2

In [90]:
top_countries = df.groupby('countriesAndTerritories').agg({
    'cases': 'sum'    
    }).sort_values('cases', ascending = False).head(5).index


top_countries

# df

Index(['USA', 'India', 'Brazil', 'Russia', 'Peru'], dtype='object', name='countriesAndTerritories')